:root {
    --blue: hsl(205,100%,35%);
    --gray: hsl(202, 20%, 92%);
    --dark-gray: hsl(80, 1%, 54%);
    --white: hsl(0, 0%, 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: var(--gray);
}

button {
    padding: 0em 2em;
}
/*Hero Layout*/
.cafe24publisher-main-container {
    max-width: 1400px;
    height: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.cafe24publisher-button-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Btn1 Style*/ /*Source from Github*/
.cafe24publisher-btn1 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    /* box-shadow: 0 0 1px rgba(0, 0, 0, 0); */
    position: relative;
    background: var(--white);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;;
}

.cafe24publisher-btn1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--blue);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cafe24publisher-btn1:hover, .cafe24publisher-btn1:focus, .cafe24publisher-btn1:active {
    color: var(--white);
    border-color: var(--blue);
}

.cafe24publisher-btn1:hover:before, .cafe24publisher-btn1:focus:before, .cafe24publisher-btn1:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

/*Button Style 2*/ /*Simple Transition*/
.cafe24publisher-btn2 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    background: var(--blue);
    color: var(--white);
    border-color: var(--blue);
    border-radius: 50px;
    margin-left: 10px;
    padding: 0em 2em;
}

.cafe24publisher-btn2:hover {
    color: var(--blue);
    background: var(--white);
    transition: 0.5s ease-in-out;

}


/*Image Container and Blur Effects*/
.cafe24publisher-image-container {
    padding: 1em;
}

img {
    max-width: 100%;
    filter: blur(10px);
    transition: .3s ease-in;
}

img:hover {
    filter: blur(0px);
    transition: .7s ease-out;
}

/*Footer*/
.cafe24publisher-footer-container {
    padding: 0em 10em;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cafe24publisher-footer {
    
    padding: 2em 0em;
    width: 100%;
    background-color: var(--blue);

    position: fixed;
    top: 100;
    bottom: 0;
}

/*Footer logo CSS*/
.cafe24publisher-logo {
    max-width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--white);
}

/*Footer Menu CSS */
.cafe24publisher-menu {
    max-width: 100%;
}

.cafe24publisher-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.cafe24publisher-menu li {
    padding: 0 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--white);
    list-style-type: none;
}

/*Login Button in Footer Menu*/
.login {
    margin-left: 20px;
    background-color: var(--white);
    color: var(--blue);
    padding: 5px 30px;
    border-radius: 20px;
}





